.scroll-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    
    background-color: var(--btc-orange);
    color: white;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s;
}

.scroll-btn:hover {
    background-color: #e08b1f;
    transform: translateY(-5px);
}