.catalog-page h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    border-bottom: 3px solid var(--btc-orange);
    padding-bottom: 15px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.no-articles {
    text-align: center;
    font-size: 2rem;
    color: var(--text-secondary);
    font-weight: bold;
    margin-top: 3rem;
}