.scroll-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    
    background-color: var(--btc-orange);
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.scroll-icon {
    width: 28px;
    height: 28px;
    fill: white;
}

.scroll-btn:hover {
    background-color: #F7931A;
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}